body {
  font-family: "Poppins", sans-serif;
  color: rgb(59, 59, 59);
  background-color: #fff;
}

.App {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  .App {
    width: 95%;
  }
}

.parentListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
  grid-gap: 30px;
  border-radius: 0.5em;
}

@media only screen and (max-width: 800px) {
  .parentListContainer {
    grid-template-columns: 1fr;
  }
}

.gridItemListBox {
  border-radius: 0.5em;
  background-color: rgba(232, 244, 248, 0.514);
  padding: 20px;
}

h1 {
  text-align: left;
}

.taskCard {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-height: 100px;
  padding: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .taskCard {
    min-height: 60px;
  }
}

li {
  list-style-type: none;
}

.button,
.submitButton {
  background: none;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid rgb(59, 59, 59);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(59, 59, 59);
  text-align: center;
  transition: all 0.2s;
}

.button:hover,
.submitButton:hover {
  color: #ffffff;
  background-color: rgb(59, 59, 59);
}

@media all and (max-width: 30em) {
  .button,
  .submitButton {
    display: block;
    margin: 0.4em auto;
  }
}

.icons {
  text-align: right;
}

input {
  margin: 5px;
}
